.gifButton{
    margin: 10px;
    color: white;
    background-color: crimson;
}

.jumbotron{
    background-color: black;
}

#banner{
    background-color: black;
}

#buttonsView{
    background-color: black;
}

#frame{
    float: left;
    margin: 10px;
}

#description{
    color: yellow;
    
    text-align: center;
}