.gifButton{
    margin: 10px;
    color: white;
    background-color: crimson;
}

.jumbotron{
    background-color: black;
}

#banner{
    background-color: black;
}

#buttonsView{
    background-color: black;
}